<div class="modal fade" id="categoryModalWindow" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="post" id="formCategory">

                    <input type="hidden" id="Id" />
                    <input type="hidden" id="LibraryId" />

                    <div class="mb-3">
                        <label class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="Name">
                        <div id="Name-check" class="form-text"></div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category URL:</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon3">/u/@Model.User.UserName/lib/@Model.Library.Url/cat/</span>
                            <input type="text" class="form-control" id="Url" aria-describedby="basic-addon3">
                        </div>
                        <div id="Url-check" class="form-text"></div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Descripsion:</label>
                        <textarea class="form-control" id="Description_form"></textarea>
                    </div>

                    <div>
                        <select id="parentCategoryId" name="ParentCategoryId"></select>
                    </div>

                    <div id="FormIsNotComplited" class="form-text"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>



<script src="~/js/shared/category/form_field_checker.js"></script>
<script src="~/js/shared/category/edit_form_population.js"></script>
<script src="~/js/shared/category/update_parent_list_after_action.js"></script>
<script src="~/js/shared/category/add_edit_category.js"></script>