@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_Landing";
}


<div class="bg-light">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/images/articlesDemo.jpg" class="d-block mx-lg-auto img-fluid" alt="Article demo" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Library service</h1>
                <p class="lead">
                    Create your own library and store notes by categories and tags. <br />
                    Easy to serch and quickly to find your note. <br />
                    Extended functionality for note where you can create note list in note and keep seperated list note in one note. <br />
                    Extendedoportunities to manage your notes.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-outline-primary" href="#">Register now and take your library</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="bg-white">
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Library features</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Unlimited libraries</h3>
                    <p>You can keep that mach libraries that you need.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Library categories</h3>
                    <p>You can have categories and sub categories for each libarray.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Tags</h3>
                    <p>Add tag to the note to keep more informativity.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Search</h3>
                    <p>Easy to find note seaching by title and tags.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Privecy</h3>
                    <p>Make content private to hide if.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Public</h3>
                    <p>You can share content with everybody if it public.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"></use></svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Following</h3>
                    <p>Peaple can wach your content like a blog if content is public.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"></use></svg>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Multiply notes</h3>
                    <p>Create note list inside a note. to keep more flexebel content</p>
                </div>
            </div>
        </div>
    </div>
</div>